@page
@model SummArts.Pages.Summaries.IndexModel

@{
    ViewData["Title"] = "Article Management";
}

<p>
    <a asp-page="Create" asp-route-isbulk="false" class="btn btn-primary">Create New Article Summary</a>
    <a asp-page="Create" asp-route-isbulk="true" class="btn btn-success">Fetch Articles from News API</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Sentiment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].SummaryText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].SourceUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].UpdatedDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Summary) {
        <tr>
            <td>
                @if(item.Sentiment == Models.Sentiment.Positive)
                {
                    <span class="badge bg-success text-light">@Models.Sentiment.Positive.ToString()</span>
                }
                else if(item.Sentiment == Models.Sentiment.Negative)
                {
                    <span class="badge bg-danger text-light">@Models.Sentiment.Negative.ToString()</span>
                }
                else
                {
                    <span class="badge bg-warning text-light">@Models.Sentiment.Neutral.ToString()</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummaryText)
            </td>
            <td>
                <a href="@item.SourceUrl" target="_blank">@item.SourceUrl</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
