@page
@model SummArts.Pages.IndexModel

@{
    ViewData["Title"] = "News Feed";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Sentiment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].SummaryText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary[0].SourceUrl)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Summary) {
        <tr>
             <td>
                @if(item.Sentiment == Models.Sentiment.Positive)
                {
                    <span class="badge bg-success text-light">@Models.Sentiment.Positive.ToString()</span>
                }
                else if(item.Sentiment == Models.Sentiment.Negative)
                {
                    <span class="badge bg-danger text-light">@Models.Sentiment.Negative.ToString()</span>
                }
                else
                {
                    <span class="badge bg-warning text-light">@Models.Sentiment.Neutral.ToString()</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummaryText)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a href="@item.SourceUrl" target="_blank">@item.SourceUrl</a>
            </td>
        </tr>
}
    </tbody>
</table>
